* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}



.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}
































/*==========Top Header==========*/

.header_topline {
    background-color: #262626;
    padding: 15px 0;
}

.container_header {
    display: flex;
    align-items: center;
}


.button_choice {
    text-align: left;
}

.button_choice {
    background-color: #262626;
    border: none;
    color: #898989;
    font-size: 12px;
    font-weight: 400;
    margin-right: 32px;
    padding-bottom: 3px;
}

.button_choice:hover {
    color: #fff;
}

button.button_choice:focus {
    outline: none;
}

.button_choice .material-icons {
    width: 7px;
    height: 4px;
    color: #898989;
    padding: 0 3px;
    position: relative;
    top: 7px;
}

.button_choice .material-icons:hover {
    color: #fff;
}

.header_link {
    text-align: center;
}

a.social_link {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #898989;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #3a3a3a;
}

a.social_link:hover {
    color: #fff;
}



.header_opt {
    text-align: right;
}

.header_opt p {
    display: inline-block;
    padding-left: 37px;
    font-size: 12px;
    font-weight: 400;
}

.header_options a {
    color: #898989;
    text-decoration: none;
}

.header_options a:hover {
    text-decoration: none;
    color: #fff;
}

.header_options {
    text-align: right;
}





































/*=============Mid Header===========*/

.mid_header {
    padding: 51px 0;
}

.search {
    text-align: left;
    font-size: 24px;
    color: #000;
}

.logo {
    display: inline-block;
    text-align: center;
}

.basket {
    text-align: right;
    font-size: 24px;
    color: #000;
}


































/*========Down Header========*/

.bg-wrapper {
    background-color: #F2F2F2;
}

.down_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 66%;
}



.down_header ul.items {
    margin-bottom: 0;
}

.items li {
    display: inline-block;
}

.items a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 28px 29px;
}

.down_header .items a:hover {
    color: #A8A8A8;
    text-decoration: none;
    transition: 0.3s;
}






































/*=============Slider==============*/

.slider.owl-carousel .owl-item img {
    width: auto;
}

.slider_item {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.slider_description {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
}

.slider_description h2 {
    color: #ffffff;
    font-size: 56px;
    font-weight: 500;
    line-height: 30.03px;
    margin-bottom: 57px;
}

.slider_description p {
    max-width: 612px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    line-height: 26.03px;
    margin: 0 auto 77px;
}

.slider_description button {
    width: 221px;
    height: 66px;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    outline: none;
}

.slider_description button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    opacity: 0.5;
    transition: all 0.4s;
}




.slider.owl-theme .owl-dots .owl-dot.active span {
    background: #eaae3b;
    border: none;
}

.slider.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #999999;
    background: #999999;
}



.owl-dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0;
}

.owl-dot {
    border-radius: 0;
}

.slider.no-js .owl-carousel,
.slider.owl-carousel.owl-loaded {
    position: relative;
}


































/*=======For navigation on hover effect=========*/

.slider.owl-theme .owl-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}


.owl-nav:hover {
    background-color: #fff;
}

.slider.owl-theme .owl-nav>div {
    color: #a9a9a9;
    font-size: 14px;
    margin: 0;
    padding: 11px 7px 5px 13px;
    background: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #eeeeee;
}



.slider.owl-theme .owl-nav .disabled {
    opacity: 1;
}


.slider.owl-theme .owl-nav .owl-prev {
    margin-right: -1px;
}


.slider.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #ffffff;
    color: #a9a9a9;
}

.slider.owl-theme .owl-nav [class*=owl-] i {
    font-size: 38px;
}




































/*=========Support============*/

.support {
    padding-top: 62px;
    padding-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support_item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.support_item img {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 4px;
}

.support_description {
    display: inline-block;
}

.suppot_description h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 52.22px;
    text-transform: uppercase;
    text-align: center;
}

.suppot_description p {
    display: inline-block;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.99px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 58px;
}


































/*----------__Static__===============*/

.container_static {
    display: flex;
    align-items: center;
    margin-top: 79px;
}

.static_duo {
    flex-direction: column;
}

.static_item {
    margin-bottom: 30px;
}

.static_singular {
    flex-direction: row;
}

.static_item {
    position: relative;
}

.static_description {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

h4.item_name1 {
    width: 170px;
    height: 66px;
    color: #4fa59d;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.9px;
}

h4.item_name2 {
    width: 131px;
    height: 67px;
    color: #9a7e45;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.9px;
}

p.more {
    width: 105px;
    height: 9px;
    margin: 30px 0 66px;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.static_description a {
    text-decoration: none;
    color: #000000;
}

.static_description a:hover {
    text-decoration: none;
    color: #821010;
    font-weight: bold;
    transition: 0.3s;
}

.products {
    margin-top: 138px;
}

h3.title {
    text-align: center;
    color: #000000;
    font-size: 42px;
    height: 40px;
    font-weight: 500;
    line-height: 30.03px;
    margin-bottom: 49px;
}

.products p {
    text-align: center;
    color: #000000;
    font-size: 14px;
    max-width: 773px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 26.03px;
    margin-bottom: 27px;
}


























/*========================Slider=========================*/

.slider-item img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.sliderr .owl-dots {
    position: relative;
    text-align: center;
}


.sliderr.owl-theme .owl-dots .owl-dot.active span {
    background: #eaae3b;
    border: none;
}

.sliderr.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #999999;
    background: #999999;
}

.sliderr {
    position: relative;
    margin-bottom: 120px;
}

.sliderr.owl-theme .owl-nav {
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}

.sliderr.owl-theme .owl-nav {
    position: relative;
    bottom: 0;
    right: 0;
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}

.sliderr .owl-next {
    float: right;
}



.sliderr.owl-nav:hover {
    background-color: #fff;
}

.sliderr.owl-theme .owl-nav>div {
    color: #a9a9a9;
    font-size: 14px;
    margin: 0;
    padding: 11px 7px 5px 13px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
}





.owl-nav:hover {
    background-color: #fff;
}




.sliderr.owl-theme .owl-nav .owl-prev {
    margin-right: -1px;
}


.sliderr.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #ffffff;
    color: #a9a9a9;
}

.sliderr.owl-theme .owl-nav [class*=owl-] i {
    font-size: 38px;
}


























/*=================*Banner*=============*/

.banner {
    margin-bottom: 118px;
}

.banner_item img {
    width: auto;
    overflow: hidden;
}


.banner_item {
    position: relative;
    overflow: hidden;
    text-align: center;
}


.banner_description {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
}

.banner_description h2 {
    height: 40px;
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    line-height: 30.03px;
    margin-bottom: 49px;
}

.banner_description p {
    max-width: 705px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    line-height: 26.03px;
    margin: 0 auto 77px;
}

.banner_description button {
    width: 221px;
    height: 66px;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    outline: none;
}

.banner_description button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    opacity: 0.5;
    transition: all 0.4s;
}


.trend h3.title {
    color: #000000;
    font-size: 42px;
    font-weight: 500;
    line-height: 30.03px;
}

.trend p {
    text-align: center;
    margin: 0 auto;
    max-width: 775px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.03px;
    margin-bottom: 57px;
}


























/*=======Hover======*/

.hover_item {
    display: none;
}

.color_item {
    display: flex;
    vertical-align: middle;
    position: absolute;
    bottom: 13%;
    left: 35%;
    justify-content: center;
    margin-bottom: 38px;
}

.color_dot {
    justify-content: space-around;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50px;
}

.color_dot.color1 {
    background-color: #324786;
}

.color_dot.color2 {
    background-color: #605e58;
}

.color_dot.color3 {
    background-color: #a42b43;
}


.view {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    width: 221px;
    height: 66px;
    padding: 22px 43px;
    text-align: center;
    border-radius: 7px;
    background-color: #eaae3b;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.view:hover {
    background-color: #610303;
    cursor: pointer;
    transition: all 0.3s;
}

.slider-item:hover .hover_item {
    cursor: pointer;
    display: block;
    transition: all 0.3s ease;
}

.slider-item:hover .sliderr_description {
    display: none;
}

.sliderr_description {
    position: relative;
}

.sliderr_description p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
}

p.price {
    color: #010101;
    font-size: 20px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    margin-bottom: 14px;
}

span.discount {
    width: 52px;
    height: 16px;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;
    padding-left: 10px;
}


.about {
    display: inline-block;
    padding-top: 109px;
}

.about .about_left .title {
    text-align: left;
    font-size: 42px;
    font-weight: 500;
    line-height: 30.03px;
    padding-bottom: 57px;
    margin-left: 0;
    margin-right: 0;
}

.about .about_left .about_p {
    max-width: 540px;
    height: 170px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
}


.about .about_left .link {
    color: #eaae3b;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}

.about .about_left a {
    color: #eaae3b;
    text-decoration: none;
}

.about .about_left a:hover {
    cursor: pointer;
    color: #775209;
    font-size: 15px;
    transition: 0.3s;
}

.about_right .about_item {
    float: right;
    margin-left: 159px;
}

.line {
    border-bottom: 2px solid #dedcdc;
    padding-top: 110px;
    margin-bottom: 67px;
}


.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding-bottom: 67px;
}







/*================Instagram=================*/

.instagram {
    margin-bottom: 130px;
}

.instagram .title {
    margin-top: 120px;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    line-height: 30.03px;
}

.instagram p {
    max-width: 790px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.03px;
    text-align: center;
    margin: 0 auto 46px;
}








/*============*==========For hover with absolute picture positioning============*/


/*.insta_hover {
    position: relative;
    display: none;
}

.insta_hover_desription {
    position: absolute;
    top: 28%;
    left: 37%;
}

.insta_approve {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin: 15px -30px;
}


.insta_hover img {
    padding-bottom: 15px;
}

.like_number,
.comment_number {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 7px;
}



.instagram-item:hover .insta_hover {
    display: block;
    cursor: pointer;
}


.instagram-item img:hover .instagram-item {
    display: none;
}

*/


.instagram_item {
    position: relative;
    display: inline-block;
    margin-bottom: 11px;
    margin-right: 7px;
}


.insta_hover {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}





.instagram_item:hover .insta_hover {
    display: block;
    cursor: pointer;
}

.instagram_item:hover .instagram_item {
    display: none;
}













/*===================Footer==================*/

.footer_bg {
    background-color: #2e2b2b;
}

footer .container {
    padding: 79px 0 60px;
}

.footer_title {
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.newsletter p {
    color: #999999;
    max-width: 275px;
    margin-bottom: 37px;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}

.email_form {
    display: inline-block;
    /*    position: relative;
*/
}

form {
    position: relative;
}

.form-control {
    width: 290px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: inline-block;
    background-color: #ffffff;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    padding-left: 17px;
    line-height: 24px;
    text-align: left;
}


.email_icon .material-icons {
    position: absolute;
    top: 24%;
    right: 5%;
    width: 18px;
    color: #999999;
    height: 13px;
    color: #d3d3da;
}

.info_options {
    padding-bottom: 25px;
}

.info_options ul {
    list-style-type: none;
    text-decoration: none;
}

.info_options li {
    text-align: left;
}

.info_options a {
    color: #999999;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}


.info_options a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.info_options .email {
    font-size: 13px;
    color: #fff;
}


.info_options.email:hover {
    color: #999;
}

.info_options li {
    color: #999;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}



/*.footer_media a.social_links {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;

}*/

.footer_media a.social_links .fa-facebook {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #3b5999;
}


.footer_media a.social_links .fa-rss {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ea7a06;
}

.footer_media a.social_links .fa-pinterest {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fe1b1a;
}


.footer_media a.social_links .fa-twitter {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #1ba1f1;
}


.hours {
    padding-top: 67px;
}

.hours p {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
}

.hours .time {
    color: #fff;
}

.footer_container {
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer_line {
    border-bottom: 2px solid #dedcdc;
    padding-top: 285px;
}

.footer_underline {
    margin-top: 58px;
}

.footer_underline a {
    color: #999999;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}

.footer_underline ul {
    list-style-type: none;
    text-decoration: none;
}

.footer_underline a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
