* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}



.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

















/*==========Top Header==========*/

.header_topline {
    background-color: #262626;
    padding: 15px 0;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    vertical-align: top;
}

.button_choice {
    text-align: left;
    position: relative;
}

.button_choice {
    background-color: #262626;
    border: none;
    color: #898989;
    font-size: 12px;
    font-weight: 400;
    margin-right: 32px;
    padding-bottom: 3px;
}

.button_choice:hover {
    color: #fff;
}

button.button_choice:focus {
    outline: none;
}

.button_choice .material-icons {
    color: #898989;
    padding: 0 3px;
    position: absolute;
    bottom: 0;
}

.button_choice .material-icons:hover {
    color: #fff;
}

.header_link {
    text-align: center;
}

a.social_link {
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    color: #898989;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #3a3a3a;
}

.container_header .header_link a.social_link:hover {
    color: #fff;
}



.header_opt {
    text-align: right;
}

.header_opt p {
    display: inline-block;
    padding-left: 37px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

.header_options a {
    color: #898989;
    text-decoration: none;
}

.header_options a:hover {
    text-decoration: none;
    color: #fff;
}

.header_options {
    text-align: right;
}



























































/*=============Mid Header===========*/

.mid_header {
    padding: 51px 0;
}

.search .material-icons {
    font-size: 28px;
    color: #000;
}

.mid_header .burger {
    display: none;
}

.logo {
    display: inline-block;
    text-align: center;
}



.mid_header .basket .material-icons {
    float: right;
    font-size: 28px;
    color: #000;
}

.basket .number {
    position: absolute;
    right: 3%;
    line-height: 2px;
    top: 18%;
    border-radius: 60%;
    background: orange;
    padding: 4px 3px;
    font-size: 8px;
    color: #fff;
}

























































/*========Down Header========*/

.bg-wrapper {
    background-color: #F2F2F2;
}

.down_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 66%;
}



.down_header ul.items {
    margin-bottom: 0;
}

.items li {
    display: inline-block;
}

.items a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 28px 29px;
}

.down_header .items a:hover {
    color: #A8A8A8;
    text-decoration: none;
    transition: 0.3s;
}





























































/*=============Slider==============*/

.slider .owl-nav {
    /*display: none;*/
}

.slider.owl-carousel .owl-item img {
    width: auto;
}

.slider_item {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.slider_description {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
}

.slider_description h2 {
    color: #ffffff;
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 57px;
}

.slider_description p {
    max-width: 612px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    margin: 0 auto 77px;
}

.slider_description button {
    width: 221px;
    height: 66px;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.slider_description button:focus {
    outline: none;
}

.slider_description button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    opacity: 0.5;
    transition: all 0.4s;
}




.slider.owl-theme .owl-dots .owl-dot.active span {
    background: #eaae3b;
    border: none;
}

.slider.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #999999;
    background: #999999;
}



.owl-dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0;
}

.owl-dot {
    border-radius: 0;
}

.slider.no-js .owl-carousel,
.slider.owl-carousel.owl-loaded {
    position: relative;
}















/*==============Upper Slider=============*/

.slider {
    position: relative;
    margin-bottom: 120px;
}


.slider.owl-theme .owl-dots .owl-dot.active span {
    background: #eaae3b;
    border: none;
}

.slider.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #999999;
    background: #999999;
}



.slider.owl-theme .owl-nav {
    /*    display: none;
*/
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}



.slider.owl-theme .owl-nav {
    bottom: 0;
    right: 0;
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}

.slider.owl-theme .owl-nav>div.owl-prev {
    position: absolute;
    bottom: 55%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.slider.owl-theme .owl-nav>div.owl-next {
    position: absolute;
    bottom: 55%;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}


.slider.owl-theme .owl-nav .material-icons {
    padding: 9px 1px;
}


.slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: #eaae3b;
    color: #fff;
}

.slider.owl-theme .owl-nav [class*=owl-] {
    color: #c0c3c2;
    margin: 5px;
    padding: 4px 7px;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}













/*===========The End of Upper Slider============*/


/*=========Support============*/

.support {
    padding-top: 62px;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support_item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.support_item img {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 4px;
}

.support_description {
    display: inline-block;
}

.suppot_description h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 52.22px;
    text-transform: uppercase;
    text-align: center;
}

.suppot_description p {
    display: inline-block;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.99px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 58px;
}



























































/*----------__Static__===============*/

.container.container_static {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.container_static .static_item img {
    max-width: 100%;
}

.static_duo {
    flex-direction: column;
}

.static_item {
    margin-bottom: 30px;
}

.static_singular {
    flex-direction: row;
}

.static_item {
    position: relative;
}

.static_description {
    position: absolute;
    bottom: 20%;
    left: 14%;
}

h4.item_name1 {
    width: 170px;
    max-width: 50%;
    color: #4fa59d;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: -0.9px;
}

h4.item_name2 {
    width: 131px;
    color: #9a7e45;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.9px;
}

p.more {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.static_description .material-icons {
    display: none;
    vertical-align: text-bottom;
    font-size: 15px;
}


.static_description a {
    text-decoration: none;
    color: #000000;
}

.static_description .material-icons {}


.static_description a:hover {
    text-decoration: none;
    color: #000000;
}


.static_description:hover i {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    text-decoration: none;
}




.products {
    margin-top: 138px;
}

h3.title {
    text-align: center;
    color: #000000;
    font-size: 42px;
    font-weight: 550;
    margin-bottom: 49px;
}

.products p {
    text-align: center;
    color: #000000;
    font-size: 14px;
    max-width: 773px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 26.03px;
    margin-bottom: 27px;
}

















































/*========================Sliderr=========================*/

.sliderr {
    padding: 0 20px;
}

.slider-item img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.sliderr .owl-dots {
    position: relative;
    text-align: center;
}



.sliderr {
    position: relative;
    margin-bottom: 120px;
}

.sliderr {
    position: relative;
    margin-bottom: 120px;
}


.sliderr.owl-theme .owl-dots .owl-dot.active span {
    background: #eaae3b;
    border: none;
}

.sliderr.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #999999;
    background: #999999;
}

.sliderr.owl-theme .owl-nav>div.owl-prev.active {
    background: orange;
}


.sliderr.owl-theme .owl-nav {
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}

.sliderr.owl-theme .owl-nav {
    bottom: 0;
    right: 0;
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}

.sliderr.owl-theme .owl-nav>div.owl-prev {
    position: absolute;
    bottom: 55%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.sliderr.owl-theme .owl-nav>div.owl-next {
    position: absolute;
    bottom: 55%;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}


.sliderr.owl-theme .owl-nav .material-icons {
    padding: 9px 1px;
}

.sliderr.owl-theme .owl-nav [class*=owl-]:hover {
    background: #eaae3b;
    color: #fff;
}

.sliderr.owl-theme .owl-nav [class*=owl-] {
    color: #c0c3c2;
    margin: 5px;
    padding: 4px 7px;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


















































/*=================*Banner*=============*/

.banner {
    margin-bottom: 118px;
}

.banner_item img {
    width: auto;
    overflow: hidden;
}


.banner_item {
    position: relative;
    overflow: hidden;
    text-align: center;
}


.banner_description {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
}

.banner_description h2 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 49px;
}

.banner_description p {
    max-width: 650px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    line-height: 26.03px;
    margin: 0 auto 77px;
}

.banner_description button {
    width: 221px;
    height: 66px;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner_description button:focus {
    outline: none;
}

.banner_description button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    opacity: 0.5;
    transition: all 0.4s;
}
























/*=================Trend================*/

.intro {
    margin-bottom: 47px;
}

.trend {
    display: inline-block;
    text-align: center;
    margin-bottom: 80px;
}

.trend h3.title {
    color: #000000;
    font-size: 42px;
    font-weight: 500;
}

.trend p {
    margin: 0 auto;
    max-width: 775px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.03px;
}



.tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 83px;
}

.shirt_item {
    display: inline-block;
    margin: 0 20px;
}

.shirt_item p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.shirt_item .prise {
    color: #010101;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    text-align: center
}





















/*=====Tabs Style======*/

.trend .nav-tabs {
    text-align: center;
    border: none;
    border-radius: 7px;
}

.trend .nav-tabs .nav-item {
    margin: 10px;
}


.trend .nav-tabs>li.active>a,
.trend .nav-tabs>li.active>a:hover,
.trend .nav-tabs>li.active>a:focus {
    color: #fff;
    font-weight: 400;
    background: #eaae3b;
}

.trend .nav-tabs>li>a {
    border-radius: 4px;
}


.trend .nav-tabs>li.active>a::after {
    content: '';
    position: absolute;
    right: 50%;
    top: 100%;
    border: 7px solid transparent;
    border-top-color: #eaae3b;
    transform: translateX(50%);
}

.trend .nav-item a {
    font-size: 12px;
    font-weight: 500;
    color: #8e8e8e;
    min-width: 162px;
    background: #eee;
}




































/*=======================*/

.trend button {
    width: 221px;
    height: 66px;
    border-radius: 7px;
    border: 2px solid #eaae3b;
    background-color: #fff;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.trend button:hover {
    cursor: pointer;
    border: 2px solid #d02e09;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    transition: all 0.4s;
}

.trend button:focus {
    outline: none;
}






























/*=======Hover======*/

.hover_item {
    display: none;
}

.color_item {
    display: flex;
    vertical-align: middle;
    position: absolute;
    bottom: 13%;
    left: 35%;
    justify-content: center;
    margin-bottom: 68px;
}

.color_dot {
    justify-content: space-around;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.color_dot.color1 {
    background-color: #324786;
}

.color_dot.color2 {
    background-color: #605e58;
}

.color_dot.color3 {
    background-color: #a42b43;
}


.view {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    width: 221px;
    height: 66px;
    padding: 22px 43px;
    text-align: center;
    border-radius: 7px;
    background-color: #eaae3b;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.view:hover {
    background-color: #610303;
    cursor: pointer;
    transition: all 0.3s;
}

.slider-item:hover .hover_item {
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 443;
    bottom: 27px;
    display: block;
    transition: all 0.3s;
}


.sliderr_description {
    position: relative;
}

.sliderr_description p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

p.price {
    color: #010101;
    font-size: 20px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    margin-bottom: 14px;
}

span.discount {
    width: 52px;
    height: 16px;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.sliderr_not {
    padding: 0 20px;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
}

.not_item {
    display: inline-block;
}

.sliderr_not .new_product p {
    border-radius: 5px;
    background-color: #16a90f;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    padding: 0px 12px;
}

.sliderr_not .discount_product p {
    border-radius: 5px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    padding: 0px 12px;
}





.about {
    display: flex;
    padding-top: 109px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about .about_left .title {
    text-align: left;
    font-size: 42px;
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
}

.about .about_left .about_p {
    max-width: 535px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 60px;
}


.about .about_left .link {
    color: #eaae3b;
    font-size: 14px;
    font-weight: 500;
}

.about .about_left a {
    color: #eaae3b;
    text-decoration: none;
}

.about .about_left a:hover {
    cursor: pointer;
    color: #775209;
    font-size: 15px;
    transition: 0.3s;
}

.about_right .about_item {
    text-align: right;
}

.about_right .about_item img {
    max-width: 100%;
}

.line {
    border-bottom: 2px solid #dedcdc;
    padding-top: 110px;
    margin-bottom: 67px;
}


.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding-bottom: 67px;
}



.sponsors_item img {
    width: 100%;
}







/*================Instagram=================*/

.instagram {
    margin-bottom: 130px;
}

.instagram .title {
    margin-top: 120px;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}

.instagram p {
    max-width: 790px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.03px;
    text-align: center;
    margin: 0 auto 46px;
}































/*============*==========For hover with absolute picture positioning============*/

.instagram_item {
    position: relative;
    display: inline-block;
    margin: 5.5px 3.5px;
}


.insta_hover {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eaae3b;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.insta_hover img {}

.instagram_item:hover .insta_hover {
    display: flex;
    cursor: pointer;
}

.instagram_item:hover .instagram_item {
    display: none;
}

.insta_approve {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
}

.insta_approve .like_number,
.comment_number {
    color: #ffffff;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 7px;
}

.insta_approve .like_number {
    margin-right: 30px;
}


.insta-item {
    margin: 30px 0;
}




































/*===================Footer==================*/

.footer_bg {
    background-color: #2e2b2b;
    padding: 79px 0 60px;
}


.footer_title {
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.newsletter p {
    color: #999999;
    max-width: 230px;
    margin-bottom: 47px;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}

.email_form {
    display: inline-block;
    width: 100%;
}

form {
    position: relative;
}

.form-controll {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    background-color: #ffffff;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    padding-left: 17px;
    text-align: left;
}

.form-control:focus {
    outline: none;
}

.email_icon .material-icons {
    position: absolute;
    top: 24%;
    right: 5%;
    width: 18px;
    color: #999999;
    height: 13px;
    color: #d3d3da;
}

.info_options {
    padding-bottom: 25px;
}

.info_options ul {
    list-style-type: none;
    text-decoration: none;
}

.info_options li {
    text-align: left;
}

.info_options a {
    color: #999999;
    font-size: 13px;
    font-weight: 300;
}


.info_options a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.info_options .email {
    font-size: 13px;
    color: #fff;
}


.info_options.email:hover {
    color: #999;
}

.info_options li {
    color: #999;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}















.footer_media a.social_links {
    text-decoration: none;
    text-align: center;
}

.footer_media a.social_links .fa-facebook {
    display: inline-block;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #3b5999;
}


.footer_media a.social_links .fa-rss {
    display: inline-block;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ea7a06;
}

.footer_media a.social_links .fa-pinterest {
    display: inline-block;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fe1b1a;
}


.footer_media a.social_links .fa-twitter {
    display: inline-block;
    margin: 0 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #1ba1f1;
}


.hours {
    padding-top: 67px;
}

.hours p {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
}

.hours .time {
    color: #fff;
}

.footer_container {
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer_line {
    border-bottom: 2px solid #dedcdc;
    margin: 58px 0;
}

.footer_underline {
    margin-top: 58px;
}

.footer_underline a {
    color: #999999;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}

.footer_underline ul {
    list-style-type: none;
    text-decoration: none;
}

.footer_underline a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


.footer_copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright_bg {
    background: #fff;
}

.footer_copyright p {
    color: #010101;
    font-size: 13px;
    font-weight: 400;
    padding: 24px 0;
}












/*==========Media Queries=============*/

@media (max-width: 1024px) {
    .trend .nav-tabs .nav-item {
        margin: 0 14px;
    }
    .shirt_item {
        margin: 5px 5px;
    }
    .trend .nav-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .trend .nav-tabs .nav-item {
        padding: 5px 14px;
    }
    .about .about_left .about_p {
        margin-bottom: 40px;
    }
    .instagram .title {
        margin-top: 80px;
    }
    .instagram-item {
        text-align: center;
    }
}




@media (max-width: 768px) {
    .down_header .items a {
        padding: 28px 17px;
    }

    .products p {
        margin-bottom: 35px;
    }
    .trend .nav-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trend .nav-tabs .nav-item {
        margin: 5px 5px;
    }

    .tab-content {
        margin-bottom: 60px;
    }

    .static_description h4.item_name1,
    h4.item_name2 {
        font-size: 23px;
    }
    .static_description h4.item_name2 {
        max-width: 70%;
    }

    .static_description p.more {
        font-size: 10px;
    }

    .slider {
        margin-bottom: 0px;
    }
    .instagram-item {
        text-align: center;
    }
    .instagram p {
        padding: 0 20px;
    }

    .newsletter p {
        margin-bottom: 22px;
    }
}



@media (max-width: 640px) {
    .top_header {
        display: none;
    }
    .search {
        display: none;
    }
    .mid_header .burger {
        display: inline-block;
    }

    .down_header {
        display: none;
    }

    .slider_description h2 {
        margin-bottom: 42px;
    }
    .slider_description p {
        max-width: 512px;
    }

    .products {
        margin-top: 60px;
    }
    .banner {
        margin-bottom: 60px;
    }
    .about {
        padding-top: 60px;
    }
    h3.title {
        font-size: 38px;
    }
    .about .about_left .about_p {
        font-size: 12px;
    }
    .about .about_left .link {
        font-size: 12px;
    }
    .line {
        padding: 35px 0;
    }
    .sponsors_item img {
        padding: 0 5px;
    }
    .footer_title {
        text-align: center;
    }
    .newsletter p {
        max-width: inherit;
        text-align: center;
    }
    .footer_title {
        margin: 38px 0;
    }

    .info_options li,
    .footer_media,
    .hours,
    .footer_underline ul {
        text-align: center;
    }
}


@media (max-width: 480px) {
    .basket .number {
        right: 9%;
    }

    .slider_description p {
        max-width: 340px;
    }

    .suppot_description p {
        font-size: 11px;
    }
    .suppot_description h4 {
        font-size: 12px;
    }

    .static_description h4.item_name1,
    h4.item_name2 {
        font-size: 18px;
    }
    .static_description h4.item_name2 {
        max-width: 50%;
    }
    .static_description {
        bottom: 3%;
        left: 8%;
    }

    .static_description p.more {
        font-size: 8px;
    }
    .footer_copyright {
        flex-direction: column;
    }
    .footer_copyright p {
        margin: 0;
    }
    .copyright_item {
        margin-bottom: 15px;
    }
    .footer_line {
        margin: 25px auto;
    }
    .footer_title {
        margin: 15px 0;
    }
}


@media (max-width: 320px) {
    
}